

#Final_par{
    width: 100%;
    height: 20vh;
    border: 2px solid black;
    background: #1abc9c;

}

#copy{
    margin-top: 3%;
    text-align: center;
}
#mymedicine{
    
   margin-left: 42%;
}
/* ----------------- */


.branch_pages_img{
    width: 100vw;
    height: 80vh;
}
p{
    font-size: 25px;
}
li{
    font-size: large;
}